* {
    margin: 0;
    padding: 0;}
/* ============== header ==============*/
header {
    position: fixed;
    width: 100%;
    @media (max-width: 480px)
    {position: absolute;}}

header .wrap {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f4f0;
    box-shadow: 2px 2px 4px #d1cec2;}

header a img {
    padding-top: 4px;
    width: 160px;}

header ul {
    display: flex;
    font-family: "Karla", sans-serif;
    @media (max-width: 480px)
    {display: none}}

.icon-bars {
    color: black;
    display: none;
    @media (max-width: 480px)
    {display: contents;
    padding-right: 20px}}
        
header ul li {
    display: block;}

header ul li a {
    text-decoration: none;
    color: #35302d;
    font-size: 16px;
    padding: 0 12px;}
header ul li a:hover {
    transition: 0.3s;
    cursor: pointer;
    color: #B49F6B;}

    /* ============== banner ============== */
.banner {
    height: 80vh;
    background-image: url(Asset/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    @media (max-width: 480px) { 
        height: 42vh;
        text-align: center;}}
.title {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20% 0 0 12%;
    @media (max-width: 480px) { 
        font-size: 16px;
        padding: 32% 0 0 0;}}
.subtitle {
    padding: 0 0 40px 12%;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    @media (max-width: 480px) { 
        font-size: 10px;
        padding: 0 10% 2% 10%}}
.button {
    margin-left: 12%;
    box-shadow: 2px 2px 8px black;
    background-color: #f5f4f0;
    color: #35302d;
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    font-family: "Karla", sans-serif;;
    font-size: 16px;
    text-align: center;
    @media (max-width: 480px) { 
        margin: 0;
        text-align: center;
        font-size: 10px;
        padding: 6px 18px;}}
.button:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 8px white;}

    /* ============== our story ============== */
.story {
    margin: 6% 20% 6% 12%;
    display: flex;}
.title-story {
    padding-bottom: 6%;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #35302d;
    font-size: 24px;
    @media (max-width: 480px) { 
        font-size: 16px;
        padding-top: 16%;}}
.caption-story {
    padding-bottom: 10%;
    font-family: "Karla", sans-serif;
    @media (max-width: 480px) { 
        font-size: 10px}}
.img-story {
    padding-left: 8%;
    width: 120%;}
.pict-section {
    display: flex;
    width: 55%;}
.pict-story {
    width: 60%;
    margin: 0 10px 0 0;
    @media (max-width: 480px) { 
        margin: 0;
        padding: 4px;
        width: 124%;}}
.pict-story:hover {
    box-shadow: 2px 2px 8px #d1cec2;}

    /* ============== services ============== */
.services {
    padding: 0 12% 4% 12%;
    background: white;
    text-align: center;
    @media (max-width: 480px) { 
        display: none;}}
.group-service {
    display: flex;
    text-align: center;
    padding-top: 20px;
    font-family: "Karla", sans-serif;}
.card-service {
    margin: 10px;
    padding: 10px 0 10px 0;
    background-color: #f5f4f0;
    box-shadow: 2px 2px 8px #dfdbcd;
    border-radius: 12px;}
.img-service {
    width:92%;
    height: 80%;
    border-radius: 8px;
    padding-bottom: 10px;}

    /* ============== our room ============== */
.room {
    padding: 4% 12%;
    background: #f5f4f0;}  
.title-section {
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: #35302d;
    font-size: 24px;
    @media (max-width: 480px) { 
        font-size: 16px;}}
.card-wrapper {
    text-align: center;
    padding: 0;
    @media (min-width: 1240px) { 
        display: flex;
        padding: 20px 0 20px 0;
        justify-content: space-between}}
.card {
    box-shadow: 1px 1px 8px #ebe8db;
    background-color: white;
    width: 28%;
    padding: 6px 6px 14px 6px;
    transition: 0.5s;
    border-radius: 12px;
    @media (max-width: 480px) { 
        width: 60%;
        margin: 0 50px 10px 50px;
        padding: 6px}}
.card:hover {
    box-shadow: 0 0 8px #35302d;
    background: #ebe8db;
    border: #B49F6B;
    cursor: pointer;}
.card img {
    width: 100%;
    border-radius: 8px;
    @media (max-width: 480px) { 
        width: 100%;
        height: 80%;}}
.card h5 {
    text-align: center;
    text-transform: capitalize;}.card h5 a {
    font-family: "Karla", sans-serif;
    color: #B49F6B;
    font-size: 20px;
    text-decoration: none;
    font-size: 20px;
    @media (max-width: 480px) { 
        font-size: 12px;}}
.card p {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    padding:20px 10px 0 10px;
    text-align: center;
    @media (max-width: 480px) { 
        font-size: 10px;
        padding: 4px 4px 0 4px;}}
.booking { 
    box-shadow: 1px 1px 8px white;
    margin: 20px;
    padding: 20px;
    font-family: "Karla", sans-serif;
    font-size: 10px;
    background-color: #ebe8db;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    @media (min-width: 1240px) { 
        display: flex;
        justify-content: space-between;
        text-align: left;
        font-size: 14px;
        margin: 0;}}
.input {
    margin: 4px 0 10px 0;
    padding: 10px;
    width: 200px;
    border-radius: 4px;
    border: none;
    @media (max-width: 480px) { 
        width:  160px;
        height: 1px;}}
.book-button {
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
    border: none;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    background-color: white;
    @media (max-width: 480px) { 
        width: 180px;
        font-size: 10px;
        padding: 6px;
        margin-top: -20px;;}}
.book-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px white;
    transition: 0.3s;
    background-color: #B49F6B;
    color: white;}

    /* ============== destination ============== */
.destination {
    margin: 6% 12% 6% 12%;
    text-align: right;}
.explore {
    @media (min-width: 1240px) { 
    display: flex;
    display: flex;}}
.pict-destination {
    width: 50%;
    @media (max-width: 480px) { 
        width: 55%;
       padding: 4px;}}
.group-destination {
    margin: 5% 0 0 0;}
.label {
    font-family: "Open Sans", sans-serif;
    color: #B49F6B;
    font-size: 20px;
    @media (max-width: 480px) { 
        font-size: 12px;
        text-align: center;}}
.title-destination {
    padding-bottom: 6%;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #35302d;
    @media (max-width: 480px) { 
        font-size: 16px;
        text-align: center;
        padding-bottom: 2%;}}
.caption-destination {
    padding-left: 50%;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    @media (max-width: 480px) { 
        font-size: 10px;
        text-align: center;
        padding: 0 10px 0 10px;}}

 /* ============== footer ============== */
 footer {
    background-color: #ebe8db;
    font-family: "Karla", sans-serif;
    padding: 6% 12% 2% 12%;
    box-shadow: 0 0 8px #B49F6B;;
}
 .footer-group {
    @media (min-width: 1240px) { 
        display: flex;
        justify-content: space-between;}}
.footer-title {
    font-size: 16px;
    @media (max-width: 480px) { 
        font-size: 12px;
    }}
.list-contact {
    padding: 2% 0 10% 0;
    font-size: 14px;
    @media (max-width: 480px) { 
        font-size: 10px;
        padding: 3% 0 6% 0}}
.list-group-item {
    color: black;
    text-decoration: none;}
.list-group-item:hover {
    color: #B49F6B;}
.media-group {
    @media (min-width: 1240px) { 
        display: flex;}}
.media {
    padding: 10px 6px 0 0;
    color: black;}
.media:hover {
    color: #B49F6B;}
.maps-villa {
    text-align: right;
    @media (max-width: 480px){
        text-align: left;
        margin-top: 6%;}}
.maps {
    width: 80%;
    height: 80%;
    border-radius: 4px;
    @media (max-width: 480px){
       display: none}}
.maps:hover {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 4px;}


